@import 'window/theme.scss';

.component {
  display: flex;
  align-items: center;

  > .animated {
    width: 16px;
    height: 16px;
    border-radius: 3px;
    box-sizing: border-box;
    border: 1px solid $contrast-background;

    &.true {
      background: $contrast-background;
    }

    &.false {

    }
  }

  &.label {

  }

  &.integer-slider {
    display: flex;
    
    > input {
      width: 100%;
      height: 100%;
      box-sizing: border-box;
    }
  }

}