@import 'window/theme.scss';

.component {
  display: flex;

  > .left {
    overflow: hidden;
    flex-basis: 300px;
    flex-grow: 0;
    flex-shrink: 0;
    box-sizing: border-box;
    border-right: 1px solid $bright-background;
  }

  > .right {
    overflow: hidden;
    flex: 1;
    flex-grow: 1;
  }
}