@import "window/theme.scss";
@import "../common.scss";

.component {

  > .track {
    font-size: 12px;
    color: $primary-text;

    > .name {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}