.component {
  display: flex;
  flex: 1 1;

  border: 1px solid white;
  box-sizing: border-box;

  &.HORIZONTAL {
    flex-direction: row;
  }

  &.VERTICAL {
    flex-direction: column;
  }

  &.VIEW {
    > * {
      width: 100%;
      height: 100%;
    }
  }

}