.component {

  &.effect-form {

    > .label {
      height: 25px;
      line-height: 25px;
      box-sizing: border-box;
      border-bottom: 1px solid var(--surfaceBrightColor);
      font-size: 12px;
      color: var(--surfaceTextColor);
    }

  }

  &.effect-timeline {

    > .blank {
      height: 25px;
    }

  }

}