@import "theme-black.scss";
@import "window/view/timeline/variable.scss";

.component {

  > .inner {
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100%;

    > .ruler {
      flex-basis: $timeline-header-height;
    }

    > .content-wrap {
      overflow-x: auto;
      padding-top: $timeline-header-height;
      margin-top: -$timeline-header-height;

      > .content {
        position: relative;

        > .layers {
          display: flex;
          flex-direction: column;
          width: 100%;
        }

        > .timecode-bar {
          position: absolute;
          top: 0;
          bottom: 0;
          width: 1px;
          background: $highlight-color;
          z-index: 10;

          > .timecode-bar-head {
            position: absolute;
            top: -10px;
            left: -5px;
            width: 10px;
            height: 10px;
            background: $highlight-color;
          }
        }
      }
    }
  }
}