@import "theme-black.scss";
@import "window/view/timeline/variable.scss";

.component {
  position: absolute;
  height: 100%;

  background: $timeline-item-color;

  > .handle {
    position: absolute;
    left: 0; top: 0; width: 100%; height: 100%;
    overflow: hidden;

    > .handle-left {
      position: absolute;
      left: 0; top: 0;
      width: 5px;
      height: 100%;
      cursor: col-resize;
    }

    > .handle-right {
      position: absolute;
      right: -5px; top: 0;
      width: 5px;
      height: 100%;
      cursor: col-resize;
    }
  }
}