.component {
  display: flex;
  border-bottom: 1px solid var(--surfaceDarkColor);
  box-sizing: border-box;

  > .tab-container {
    line-height: 30px;
    
    > .tab {
      padding: 0 10px;
      box-sizing: border-box;

      &.active {
        background: var(--surfaceDarkColor);
      }
      
      > .label {
        font-size: 12px;
        color: var(--surfaceTextColor);
      }
    }
  }

}