@import "window/theme.scss";

.component {
  
  .drawing {
    position: absolute;
  }

  .drawing-control-point {
    position: absolute;
    z-index: 5;
    width: 1px;
    height: 1px;

    > .circle {
      position: absolute;
      left: -8px;
      top: -8px;
      width: 16px;
      height: 16px;
      border-radius: 30px;
      box-sizing: border-box;
      border: 2px solid rgb(155, 218, 255);

      > .fill {
        position: absolute;
        left: 1px;
        top: 1px;
        width: 10px;
        height: 10px;
        box-sizing: border-box;
        border-radius: 30px;
        background: rgb(155, 218, 255);
      }
    }
  }

  .drawing-control-line {
    position: absolute;
    z-index: 2;
    opacity: 0.5;
    transform-origin: 0 3px;
    height: 7px;
    margin-top: -3px;

    > .border {
      position: absolute;
      top: 3px;
      left: 0;
      right: 0;
      height: 0px;
      border-bottom: 1px dashed rgb(155, 218, 255);
      box-sizing: border-box;
    }
  }
}
