$primary-color: #212624;
$secondary-color:#282e2c;
$tertiary-color: rgb(69, 73, 71);
$primary-contrast-color: #212624;
$secondary-contrast-color: #5a635f;

$primary-text-color: rgb(218, 218, 218);