@import "windows/timeline/variable.scss";

.component {
  overflow: auto;

  > .inner {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    > .ruler {
      flex-basis: $timeline-header-height;
    }

    > .layers {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}