@import "window/theme.scss";
@import "../common.scss";

.component {
  box-sizing: border-box;

  > .header {
    box-sizing: border-box;
    height: $timeline-header-height;
    border-bottom: 1px solid $bright-background;
  }

}