$primary-background: #424242;
$dark-background: #212121;
$bright-background: #616161;
$contrast-background: #BDBDBD;
$primary-text: #BDBDBD;
$highlight-text: #28aaff;

$primaryColor: #28aaff;
$secondaryColor: #ff5040;
$surfaceColor: #424242;
$surfaceDarkColor: #212121;
$surfaceBrightColor: #616161;
$surfaceTextColor: #BDBDBD;
$surfaceContrastColor: #BDBDBD;

:root {
  --primaryColor: #28aaff;
  --secondaryColor: #ff5040;
  --surfaceColor: #212624;
  --surfaceDarkColor: #1a1a1a;
  --surfaceBrightColor: #616161;
  --surfaceTextColor: #BDBDBD;
  --surfaceContrastColor: #BDBDBD;
}