@import 'theme-black.scss';
@import 'windows/timeline/variable.scss';

@import "fontawesome/fontawesome.scss";
@import "fontawesome/solid.scss";
@import "fontawesome/brands.scss";

.component {
  display: flex;
  flex-direction: column;
  border-right: 1px solid $tertiary-color;

  > .toolbar {
    flex-basis: $timeline-header-height;
    flex-grow: 0;
    flex-shrink: 0;

    > .btn-add-layer {
      @extend %fa-icon;
      @extend .fas;
      cursor: pointer;

      &:before {
        content: fa-content($fa-var-plus);
        color: $primary-text-color;
      }
    }
  }

  > .layers {
    display: flex;
    flex-direction: column;

    flex: 1;
    flex-grow: 1;
  }
}