@import "theme-black.scss";
@import "windows/timeline/variable.scss";

.component {
  
  flex-basis: $timeline-layer-height;
  flex-grow: 0;
  flex-shrink: 0;
  
  box-sizing: border-box;
  border-bottom: 1px solid $secondary-contrast-color;

  background: $secondary-color;

  &:first-child {
    border-top: 1px solid $secondary-contrast-color;
  }

  > .name {
    color: $primary-text-color;
    font-size: 12px;
    font-family: 'Nanum Gothic', sans-serif;
  }

  > .timeline-item {
    flex-basis: $timeline-layer-height;
  }
}